* {
    margin: 0rem;
    padding: 0rem;
    box-sizing:0;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    overflow-x: hidden;
    color: #2d073b;
    font-size: 15px;
    background-color: #eee0ee;

  }
  .container {
    display: flex;
  
  }
  
  .nav {
    /position: fixed;/
    width: 30vw;
    height: 100%; 
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #654b72;
  }
  
  .content {
    width: 65vw;
    padding: 1rem 5rem;
  }
  
  .start {
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 10px;
    color: rgb(245, 223, 24);
  }
  
  .input-place p {
    color:  rgb(235, 223, 114);
    font-size: larger;
    font-weight:400;

  }
  .form {
    display: flex;
    margin-top: 0rem;
    margin-bottom: 2rem;
    height: 1.5rem;
  }
  .form button {
    width: 6rem;
    background-color: #df6b84;
    color: #131212;
    border: none;
    transition-duration: 0.4s;
    border-radius: 8px;
    border: 2px solid #ecce22;
  }
  .form button:hover {
    background-color: #0f080a;
    color: #88c988;
  }
  .buttons {
    margin: 2rem;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
  }
  #forecast {
    margin-top: 2.2rem;
    height: 2.2rem;
  }
  #n_days {
    height: 2rem;
    margin-top: 2rem;
  }
  .buttons button {
    width: 8.5rem;
    height: 2.5rem;
    border: 2px solid #df6b84;
    border-radius: 8px;
    background-color: #88c998;
    color: #030008;
    transition-duration: 0.4s;
  }
  .buttons button:hover {
    background-color: #0f080a;
    color: #88c988;
  }
  
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
  }
  .header p {
    font-size: 2.5rem;
    font-weight: bolder;
    font-style:initial;
    margin-left: 3rem;
    line-height: 100%;
  }
  
  #logo {
    max-width: 100rem;
    height:auto;
    
  }
